<tr>
    <td>{{id}}</td>
    <td><img src="/img/{{obraz}}" height="40px" width="35px"> </td>
    <td>{{name}}</td>
    <td>{{size}}</td>
    <td>{{type}}</td>
    <td><a href="/pliki/{{id}}" style="color: black; font-size: 14px">delete</a></td>
    <td><a href="/info/{{id}}" style="color: black; font-size: 14px">info</a></td>
    <td><a href="/download{{pobieranie}}" download="{{name}}" style="color: black; font-size: 14px">download</a></td>
</tr>
